<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Registration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
<div th:if="${error}">
  <div class="errors" th:text="${error}">
    Invalid username or password.
  </div>
</div>

<div th:if="${jwt}">
  <span class="jwt" id="${jwt}" th:text="${'Your token: ' + jwt}"></span>
  <input type="submit" value="Redirect">
</div>
<div id="forms">
  <div id="register">
    <h3>Registration</h3><br>
    <form id="registerForm" th:action="@{/register}" th:object="${user}" method="POST">
      <label>Username</label>
      <input type="text" th:field="*{username}">
      <label>Password</label>
      <input type="password" th:field="*{password}">
      <input type="submit" value="Submit">
    </form>
  </div>
  <div id="login">
    <h3>Login</h3><br>
    <form id="loginForm" th:action="@{/login}" th:object="${user}" method="post">
      <label>Username</label>
      <input type="text" th:field="*{username}">
      <label>Password</label>
      <input type="password" th:field="*{password}">
      <input type="submit" value="Submit">
    </form>
  </div>
</div>
</body>
</html>