<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>User Registration</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>

<div th:switch="${#authentication}? ${#authorization.expression('isAuthenticated()')} : ${false}">

  <div th:case="${true}">
    <span th:text="${'Logged in as ' + #authorization.getAuthentication().getName()}">User</span>
    <form onsubmit="logout()"><br>
      <meta id="jwt" th:content="${jwt}"/>
      <input type="submit" value="Logout">
    </form>
  </div>

  <div th:case="${false}">
    <div th:if="${error}">
      <div class="errors" th:text="${error}">Error</div>
    </div>
    <div th:if="${session}">
      <div class="errors" th:if="${session.error}"
           th:text="${session.error}">Error
      </div>
    </div>
    <div id="forms">
      <div id="register">
        <h3>Registration</h3><br>
        <form id="registerForm" th:action="@{/register}" th:object="${registeringUser}"
              method="POST">
          <table>
            <tr>
              <td><label>Username</label></td>
              <td><input th:id="regUsername" type="text" th:field="*{username}"></td>
              <td class="validation-errors" th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Error
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td><input th:id="regPassword" type="password" th:field="*{password}"></td>
              <td class="validation-errors" th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Error
              </td>
            </tr>
            <tr>
              <td>
                <button type="submit">Submit</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
      <div id="login">
        <h3>Login</h3><br>
        <form id="loginForm" th:action="@{/login}" th:object="${loggingInUser}" method="post">
          <table>
            <tr>
              <td><label>Username</label></td>
              <td><input th:id="loginUsername" type="text" th:field="*{username}"></td>
              <td class="validation-errors" th:if="${#fields.hasErrors('username')}"
                  th:errors="*{username}">Error
              </td>
            </tr>
            <tr>
              <td><label>Password</label></td>
              <td><input th:id="loginPassword" type="password" th:field="*{password}"></td>
              <td class="validation-errors" th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}">Error
              </td>
            </tr>
            <tr>
              <td>
                <button type="submit">Submit</button>
              </td>
            </tr>
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
</body>
<script>
  function logout() {
    var XHR = new XMLHttpRequest();
    XHR.open('GET', '/logout');
    console.log(document.getElementById("jwt").content);
    XHR.setRequestHeader('Authorization', "Bearer " + document.getElementById("jwt").content);
    XHR.send()
  }
</script>
</html>